<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="{{ url_for('static',filename='jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='d3.min.js') }}"></script> 
    <script src="{{ url_for('static',filename='jquery-ui-1.12.1/jquery-ui.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='jquery-ui-1.12.1/jquery-ui.min.css') }}">
   
    <title>Document</title>
</head>
<body>
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-12 text-center">
        <input id="datepicker" placeholder="Pick Date" class="btn btn-outline-primary">
        <button class="btn btn-primary" type="button" id ="submit">Submit</button>
    </div>
    </div>
    </div>

    <div id="div1"></div>

    <script>
    $('#datepicker').datepicker({dateFormat: 'yy-mm-dd'});
    $('#div1').load("pie3.html#svg");
        

  
    </script>

</body>
</html>