<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="{{ url_for('static',filename='jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='d3.min.js') }}"></script> 
    <script src="{{ url_for('static',filename='jquery-ui-1.12.1/jquery-ui.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='jquery-ui-1.12.1/jquery-ui.min.css') }}">
   
    <title>Document</title>
</head>
<body>
    
    <form>
    <label for="datepicker">date</label>
    <input id="datepicker">
    <label for="weather">weather</label>
    <input type="text" id="weather">
    <input type="submit" id ="submit" value = "submit">
    <input type="button" id ="getValue" value = "get">
    </form>
    
    <div id="div1"></div>

    <script>
    $('#datepicker').datepicker({dateFormat: 'yy-mm-dd'});
    $('#div1').load("pie3.html#svg");
    $('#getValue').on('click', function() {
        console.log($('#datepicker').val());
    });

  
    </script>

</body>
</html>