
    <script>
        function predColor(i) {
            if (i == 0) return "green";
                else if (i == 1) return "yellow";
                    else return "red";
        }
  

        var pieDataset = {{ pieData }};
        var pie = d3.pie().sort(null)
        var prePie = pie(pieDataset);
        var w = 300, h =300;
        var outerRadius = w / 2;
        var innerRadius = 0;
        var arc = d3.arc()
                    .innerRadius(innerRadius)
                    .outerRadius(outerRadius);
        var svg = d3.select("body")
                    .append("svg")
                    .attr("width", w)
                    .attr("height", h)
        var arcs = svg.selectAll("g.arc")
                        .data(prePie)
                        .enter()
                        .append("g")
                        .attr("transform","translate(" + outerRadius + "," + outerRadius + ")");
        
        arcs.append("path")
            .attr("fill", function(d, i){return predColor(i);})
            .attr("d", arc);
        
        arcs.append("text")
            .attr("transform", function(d) {return "translate(" + arc.centroid(d) +")"})
            .attr("text-anchor","middle")
            .text(function(d){return d.value;});


    </script>
    
