
    <div class="container">
    <table class="table table-hover">
        <thead>
        <tr><th scope="col">station</th>
            <th scope="col">temp</th>
            <th scope="col">humid</th>
            <th scope="col">rain</th>
            <th scope="col">time</th>
            <th scope="col">area</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        {% for web in weather %}
        <tr>
        <td> {{ web[0] }} </td> 
        <td> {{ web[1] }} </td> 
        <td> {{ web[2] }} </td>
        <td> {{ web[3] }} </td>
        <td> {{ web[4] }} </td>
        <td> {{ web[5] }} </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    
    <div>
  
